.UsersCard--Container {
  min-height: 14vw;
  max-height: 14vw;
  width: 27vw;
  overflow-y: auto;
  border-radius: 10px;
  background-image: url("../../../../assets/USERCARDBG.svg");
  background-size: cover;
  opacity: 1;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

@media only screen and (max-width: 767px) {
  .UsersCard--Container {
    min-height: 26vh;
    min-width: 70vw;
    margin-bottom: 3rem;
    padding: 2rem;
  }
}
