.landingContainer {
  background-image: url("../../assets/BGImage.png");
  background-size: contain;
  box-sizing: border-box;
  background-color: #0b0c0c;
  color: #fff;
  font-family: Montserrat;
}
