.userReviewsContainer {
  max-height: 90vh;
  max-height: 90vh;
  width: auto;
  display: flex;
  flex-direction: column;
  margin-top: 0rem !important;
  /* padding-bottom: 2rem; */
  padding-top: 0px !important;
  /* background-color: #ebebeb; */
  background-image: url("../../../assets/newLanding/Testimonials.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.popularClassesContainer--Mobile {
  display: none;
}
.UserReviewHead {
  color: #222222 !important;
  text-align: start;
  font-weight: 700 !important;
  font-size: 40px !important;
  font-family: Raleway !important;
  /* font-style: normal !important; */
  /* font-weight: 700 !important; */
  line-height: normal !important;
  /* letter-spacing: -6.486px !important; */
  text-transform: uppercase !important;
  margin-left: 85px !important;
  margin-top: 40px !important;
}

.userReviewsContainer--Top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userReviewsContainer--Bottom {
  margin-top: 4rem;
}

.userReviewsContainer--BottomMobile {
  display: none;
}

.SwiperSlide {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
}

.userReviewsContainer--Bottom .swiper-button-prev {
  background-color: #92c095;
  border-radius: 50%;
  width: 2.8rem;
}

.userReviewsContainer--Bottom .swiper-button-prev::after {
  font-size: 20px;
  color: #022405;
}

.userReviewsContainer--Bottom .swiper-button-next {
  background-color: #92c095;
  border-radius: 50%;
  width: 2.8rem;
}
.userReviewsContainer--Bottom .swiper-button-next::after {
  font-size: 20px;
  color: #022405;
}

@media only screen and (max-width: 767px) {
  .userReviewsContainer--Bottom {
    display: none;
  }
  .userReviewsContainer--BottomMobile {
    display: block;
  }
  .userReviewsContainer {
    height: auto;
    padding-bottom: 1rem;
    background-image: url("../../../assets/newLanding/TestMob.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .UserReviewHead {
    margin-left: 0px !important;
    font-size: 30px !important;
    letter-spacing: 0px !important;
  }
}

@media only scrren and (min-width: 768px) and (max-width: 1068px) {
  .UserReviewHead {
    font-size: 40px !important;
  }
}
