.userReviewsContainer {
  min-height: 70vh;
  width: auto;
  display: flex;
  flex-direction: column;
  margin-top: 0rem !important;
  padding-bottom: 2rem;
  background-color: lightgray;
}

.popularClassesContainer--Mobile {
  display: none;
}
.UserReviewHead {
  color: #49ad50 !important;
  text-align: center;
  font-size: 129.73px !important;
  font-family: Raleway !important;
  font-style: normal !important;
  font-weight: 300 !important;
  line-height: normal !important;
  letter-spacing: -6.486px !important;
  text-transform: uppercase !important;
}

.userReviewsContainer--Top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userReviewsContainer--Bottom {
  margin-top: 4rem;
}

.userReviewsContainer--BottomMobile {
  display: none;
}

.SwiperSlide {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
}

.userReviewsContainer--Bottom .swiper-button-prev {
  background-color: #92c095;
  border-radius: 50%;
  width: 2.8rem;
}

.userReviewsContainer--Bottom .swiper-button-prev::after {
  font-size: 20px;
  color: #022405;
}

.userReviewsContainer--Bottom .swiper-button-next {
  background-color: #92c095;
  border-radius: 50%;
  width: 2.8rem;
}
.userReviewsContainer--Bottom .swiper-button-next::after {
  font-size: 20px;
  color: #022405;
}

@media only screen and (max-width: 767px) {
  .userReviewsContainer--Bottom{
    display: none;
  }
  .userReviewsContainer--BottomMobile {
    display: block;
    margin-top: 3rem;
  }
  .userReviewsContainer {
    height: auto;
    padding-bottom: 1rem;
  }
  .UserReviewHead{
    font-size: 30px !important;
    letter-spacing: 0px !important;
  }

}

@media only scrren and (min-width:768px) and (max-width:1068px)
{
  .UserReviewHead{
    font-size: 40px !important;
  }
}
