.newFooter {
  height: 100vh;
  /* margin-top: 2rem; */
  /* padding: 4rem; */
  background-image: url("../../../assets/newLanding/contact_background.png");
  background-size: cover;
}
.footerTitle {
  margin-bottom: 1.25rem !important;
  font-weight: 700 !important;
  color: black !important;
  font-size: 1.5rem !important;
  font-family: Raleway !important;
}
.footerContent {
  font-size: 1rem !important;
  color: #373737 !important;
  margin-bottom: 1rem !important;
  font-weight: 600 !important;
  font-family: Raleway !important;
}

.newfooterheadcontainer {
  padding-top: 15vw;
  text-align: center;
  font-size: 4rem;
}
.newFooterInnerContainer {
  /* margin-top: 10.5vw !important; */
}
.newfooterhead {
  font-size: 4rem !important;
  font-family: Montserrat !important;
}

.secondGrid {
  padding-left: 2rem !important;
}
.thirdGrid {
  padding-left: 2rem !important;
}
.newfooterContentWrapper {
  display: flex;
  flex-direction: row;
  background-image: url("../../../assets/newLanding/footerBackground.png");
  background-size: cover;
  border-radius: 0% 9rem 9rem 0rem;
  padding-top: 2rem;
  padding-left: 1rem;
  /* margin: 2rem 1rem 2rem 1rem; */
}
.socialmedia-icons {
  display: flex;
  text-align: left;
  align-items: left;
  margin-top: 2rem;
  /* flex-direction: column; */
}
.playstore-style {
  background-color: #111 !important;
  border: none !important;
  margin-bottom: 1rem;
}
.btnContainer {
  margin-top: 2rem;
  /* display: flex; */
  /* align-items: center; */
  /* flex-direction: column; */
}
.mobileScreenSocial {
  display: none;
}
@media only screen and (max-width: 767px) {
  .newFooter {
    background-image: url("../../../assets/newLanding/contact_background_mobile.png");
    height: 100vh !important;
    width: auto;
    /* padding: 0.75rem; */
  }
  .newfooterheadcontainer {
    padding-top: 55vh;
  }
  .newfooterhead {
    font-size: 2rem !important;
  }
  .newfooterContentWrapper {
    padding-top: 0.5rem;
  }
  .footerTitle {
    font-size: 10px !important;
    margin-bottom: 0.5rem !important;
  }
  .footerContent {
    font-size: 8px !important;
    margin-bottom: 0.5rem !important;
  }

  .thirdGrid {
    display: none;
  }
  .secondDivider {
    display: none;
  }
  .mobileScreenSocial {
    display: block;
    padding-top: 1rem;
    text-align: center;
  }
}
