.newFooter {
  height: 100vh;
  /* margin-top: 2rem; */
  /* padding: 4rem; */
  background-image: url("../../../assets/newLanding/contact_background.png");
  background-size: cover;
}
.newfooterheadcontainer {
  padding-top: 15vw;
  text-align: center;
  font-size: 4rem;
}
.newfooterhead {
  font-size: 4rem !important;
}
.newfooterContentWrapper {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 0% 9rem 7rem 0rem;
  padding-top: 2rem;
  /* margin: 2rem 1rem 2rem 1rem; */
}
.socialmedia-icons {
  display: flex;
  text-align: left;
  align-items: left;
  margin-top: 2rem;
  /* flex-direction: column; */
}
.playstore-style {
  background-color: #111 !important;
  border: none !important;
  margin-bottom: 1rem;
}
.btnContainer {
  margin-top: 2rem;
  /* display: flex; */
  /* align-items: center; */
  /* flex-direction: column; */
}
@media only screen and (max-width: 767px) {
  .newFooter {
    background-image: url("../../../assets/newLanding/contact_background_mobile.png");
    height: auto;
    width: auto;
    /* padding: 0.75rem; */
  }
  .newFooter-mob {
    padding: 1rem;
  }
}
