.aboutUsContainer {
  height: auto;
  /* width: 98vw; */
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  margin-bottom: 2rem;
  padding: 5rem;
}
.cardContainer {
  /* height: 60vh; */
  width: 40vw;
  background-color: #262626;
  opacity: 0.8;
  border-radius: 10px;
  display: flex;

  justify-content: space-around;
}

.rightContainer {
  padding: 1rem 1rem 1rem 0rem;
}
.leftContainer {
  padding: 1rem 1rem 1rem 1rem;
}

.btnTrial button {
  background-color: #49ad50;
  font-weight: 700;
  text-transform: none;
}
.btnTrial button:hover {
  background-color: #49ad50;
}

.cardTitle .MuiTypography-root {
  color: #49ad50;
}
.textContent {
  margin-top: 1rem;
}

.aa {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.aboutUsContainer--RightMobile {
  display: none;
}

.getTrial-btnMobile {
  display: none;
}
@media only screen and (max-width: 767px) {
  .aboutUsContainer {
    padding: 1.5rem;
  }

  .aboutUsContainer--Right {
    display: none;
  }
  .rightContainer {
    padding: 1rem;
  }
  .getTrial-btn {
    display: none;
  }
  .getTrial-btnMobile {
    display: block;
  }
  .textContent {
    text-align: center;
  }
  .aboutUsContainer--RightMobile {
    display: block;
  }
  .cardContainer {
    width: 70vw;
    background-color: #262626;
    opacity: 0.8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
  }
}
