.popularClassesContainer {
  height: auto;
  width: 98vw;
}


.popularClassesContainer--Top{
display:flex;
align-items: center;
flex-direction: column;

}

.popularClassesContainer--Bottom{
  margin-top: 3rem;
}

.popularClassesContainer--BottomMobile{
  display:none
}

@media only screen and (max-width: 767px){


  .popularClassesContainer{
    height: auto;
    margin-top: 30rem;
  }

  .popularClassesContainer--Bottom{
   display: none;
  }
  
  .popularClassesContainer--BottomMobile{
    display:block;
    margin-top: 3rem;
  }
  
}