.popularClassesContainer {
  height: auto;
  width: 95vw;
}


.popularClassesContainer--Top{
display:flex;
align-items: center;
flex-direction: column;

}

.popularClassesContainer--Bottom{
  margin-top: 3rem;
  position:relative
}
.FabButton--Container{
  position: absolute;
  margin: 2rem;
  width:100%;
  top:30%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.popularClassesContainer--BottomMobile{
  display:none
}

@media only screen and (max-width: 767px){

  .SubtextMobile{
    width:80% !important;
  }
  .popularClassesContainer{
    height: auto;
    margin-top: 30rem;
  }

  .popularClassesContainer--Bottom{
   display: none;
  }
  
  .popularClassesContainer--BottomMobile{
    display:block;
    margin-top: 3rem;
  }
  .getTrails-btn-pc-mobile {
    margin-left: unset !important;
  }
}