.FAQContainer {
  height: auto;
  /* width: 98vw; */
  display: flex;
  margin-top: 2rem;
  /* align-items: center; */
  justify-content: space-around;
}

.FAQContainer--Left {
  width: 50%;
  padding-left: 4rem;
  height: 45vh;
}

.AccordionContainer {
  width: 50%;

  padding-right: 4rem;
}

.AccordionContainer .Accordion {
  background-color: transparent !important;
  color: #fff !important;
}

@media only screen and (max-width: 767px) {
  .FAQContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .FAQContainer--Left{
 width:auto;
 padding-left: 1rem;
 height: auto;
  }
  .AccordionContainer{
    margin-top: 1rem;
    width:auto;
  }
}
