.BookContainer {
  /* height: 35vh; */
  /* width: 98vh; */

  background-image: url("../../assets/newLanding/formBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
  background-position: right;
}
/* 
.textField {
  background-color: #fff;
  color: #fff;
  border-radius: 10px;
  height: 2.5rem;
} */
.gridContainer {
  padding-left: 2rem;
  padding-bottom: 6rem;
  padding-bottom: 40vh;
}

.booking_container {
  background-color: #caddca;
  /* text-align: center; */
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding-bottom: 4rem;
}

.form_heading {
  font-size: 3rem !important;
  font-weight: 700 !important;
  color: #49ad50;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.bookSubmit {
  background-color: #49ad50 !important;
  color: #fff !important;
  margin-top: 2rem !important;
  font-size: 1rem !important;
  border-radius: 2rem !important;
  text-transform: none !important;
  padding: 0.25rem 0.75rem !important;
  height:40px;
  width:117px;
  text-shadow: 1px 1px #000;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.BookContainer .MuiInputBase-input {
  /* padding: 0.5rem !important; */
}
.BookContainer .MuiOutlinedInput-notchedOutline {
  border: none !important;
}

@media only screen and (max-width: 767px) {
  .form_heading {
    font-size: 6vw !important;
  }
  .BookContainer {
    height: auto;
    padding-bottom: 1rem;
    background-image: none;
  }
  .bookSubmit {
    font-size: 1.25rem !important;
  }
  .BMITEXT {
    display: none;
  }
  .gridContainer {
    padding-left: 0rem;
    padding-bottom: 0vh;
  }
}
