.rootNav {
  /* width: 98vw; */
  /* height: 100vh; */
  /* position: fixed; */
  background-color: #000000;
  z-index: 1;
}
.gridWrapper-nav {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
}

.call-btn button {
  background-color: #49ad50 !important;
  text-transform: none !important;
  margin-top: 4rem;
}
.appstore-style {
  background-color: transparent;
  border: none !important;
}
.logo-nav img {
  /* padding: 1rem; */
  margin: 1rem 4rem 1rem 2rem;
}

@media only screen and (max-width: 767px) {
  .playstore-btn {
    display: none;
  }
}
