.homeContainer {
  background-image: url("../../../assets/HomeScreenBGImage1.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* width: 98vw; */
  height: 130vh;
  color: #fff;
  z-index: -1;
}

.btn-whatsapp {
  position: fixed;
  animation: none !important;
}
.knowMore-btn button {
  background-color: #49ad50 !important;
  text-transform: none;
  margintop: 2rem;
}
.homelogo-style {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem !important;
}
.homelogo-style img {
  height: 70%;
}
.homeTitle-style {
  font-weight: 800;
  margin-top: 2rem;
}
.explore-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.explore-btn button {
  color: #fff;
  font-weight: 500;
}


.my-float{
	margin-top:16px;
}



@media only screen and (max-width: 767px) {
  .homeContainer{
    height: auto;
    width: auto;
    background-image: url("../../../assets/MOBILEHOMEBG.png");
    background-size:contain;
    background-repeat: no-repeat;
  }

  .homelogo-style{
    display: none;
  }
  .explore-btn{
    display: none;
  }
  .whatsappContainer{
    display: none;
  }
  .title{
    font-weight: bold;
  }
  .sub-title{
    margin-top: 2rem;
    padding-top: 2rem;
  }
}