.homeContainer {
  background-image: url("../../../assets/newLanding/homeFirstScreen.png");
  background-size: cover;
  background-repeat: no-repeat;
  
  height: 103vh;
  color: #fff;
  z-index: -1;
}
.mob_Head_view{
  margin-top:30px !important;
}
.homeInnerContainer {
  padding: 2rem 4rem;
}
.title {
  font-weight: bold;
  font-size: 4rem;
  line-height: 4.5rem;
}

.sub-title {
  font-size: 2rem;
  line-height: 2.5rem;
}
.callUsBtn {
  background-color: #49ad50 !important;
  border-radius: 1.5rem !important;
  min-width: 20.5vw !important;
  font-size: 1.5rem;
  margin-bottom: 1rem !important;
  padding: 4px 10px 4px 10px !important;
  text-transform: none;
}

.btn-whatsapp {
  position: fixed;
  animation: none !important;
}
.buttons-container {
  gap: 7px !important;
}
.whatsappContainer {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  /* background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999; */
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}
.knowMore-btn button {
  background-color: #49ad50 !important;
  text-transform: none;
  margin-top: 0.5rem;
  border-radius: 1.5rem;
  font-size: 1.5rem !important;
  padding: 8px 15px !important;
  font-weight: 500 !important;
}
.homelogo-style {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem !important;
}
.homelogo-style img {
  height: 70%;
}
.homeTitle-style {
  font-weight: 800;
  margin-top: 2rem;
}
.explore-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 1rem;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.explore-btn button {
  color: #fff;
  font-weight: 600;
}

.my-float {
  margin-top: 16px;
}
.appstore-style {
  border: none !important;
  background-color: #fff !important;
  color: black;
  border-radius: 1rem !important;
  padding: 8px !important;
  width: 120px !important;
  height: 30px !important;
}
.appstore-style span {
  font-size: 9px !important;
}

@media only screen and (max-width: 767px) {
  .homeContainer {
    height: 103vh;
    width: auto;
    background-image: url("../../../assets/newLanding/homeFirstScreenMobile.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .mob_Head_view {
    text-align: end;
    margin-top: 28vh !important;
  }

  .homelogo-style {
    display: none;
  }
  .explore-btn {
    display: none;
  }

  .title {
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .sub-title {
    margin-top: 2rem;
    padding-top: 2rem;
    font-size: 1rem;
    text-align: end;
    line-height: 1rem;
  }
  .knowMore-btn {
    text-align: center;
  }
  .knowMore-btn button {
    padding: 2px 15px !important;
    font-size: 14px !important;
    font-weight: 500 !important;
  }
  .appstore-style {
    width: 80px !important;
    height: 12px !important;
  }
  .homeInnerContainer {
    padding: 1rem 1rem;
  }
  .appstore-style span {
    font-size: 6px !important;
  }
  .appstore-style img {
    width: 18px;
  }
  .buttons-container {
    gap: 10px !important;
  }
}
