.BMIContainer {
  height: 35vh;
  /* width: 98vh; */
  background-image: url("../../../assets/BMIBGIMAGE.svg");

}



.textField {
  background-color: #fff;
  color: #fff;
  border-radius: 10px;
  height: 2.5rem;

}


.BMIContainer .MuiInputBase-input {
  padding: 0.5rem !important;
}
.BMIContainer .MuiOutlinedInput-notchedOutline{
  border: none !important;
 
}


@media only screen and (max-width: 767px){
  .BMIContainer{
    height: auto;
    padding-bottom: 1rem;
  }
  .BMITEXT{
    display: none;
  }
}