.liveClassContainer {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.liveClassContainer--imageContainer{
display: flex;
justify-content: center;
align-items: center;
margin-top: 5rem;
}

.liveClassContainer--imageContainer img{
  width:400px
}

.MobileCarousel--Container{
  width:100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.MobileCarousel--ContainerMobile{
  display:none
}

@media only screen and (max-width: 767px){
  .MobileCarousel--Container{
   display: none;
  }
  
  .MobileCarousel--ContainerMobile{
    display:block;
    width:100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
   
  }

  .SwiperSlide{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

