.termsContainer {
    background-color: #0b0c0c;
    color: #fff;
    height: auto;
    padding: 2rem 5rem 2rem 5rem !important;
  }
  
  @media only screen and (max-width: 767px) {
    .termsContainer {
      padding: 2rem 2rem 2rem 2rem !important;
    }
  }
  