.Footer {
  height: auto;
  background-color: #76767640;
  margin-top: 2rem;
  padding: 4rem;
}
.footerContentWrapper {
  display: flex;
  flex-direction: row;

  /* margin: 2rem 1rem 2rem 1rem; */
}
.socialmedia-icons {
  display: flex;
  text-align: left;

  align-items: left;
  margin-top: 2rem;
  /* flex-direction: column; */
}
.playstore-style {
  background-color: #111 !important;
  border: none !important;
  margin-bottom: 1rem;
}
.btnContainer {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media only screen and (max-width: 767px) {
  .Footer {
    height: auto;
    width: auto;
    margin-top: 2rem;
    padding: 0.75rem;
  }
  .Footer-mob {
    padding: 1rem;
  }
}
