.popularClassesContainer {
  height: 100vh;
  width: 98vw;
}


.popularClassesContainer--Top{
display:flex;
align-items: center;
flex-direction: column;

}

.popularClassesContainer--Bottom{
  margin-top: 4rem;
}