.errorContainer {
  height: 87vh;
  background-color: #222222;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.errorSubContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.errorSpacing {
  padding: 10px;
}
