* {
  margin: 0;
  padding: 0;
  font-family:Montserrat !important ;
}



::-webkit-scrollbar-thumb {
  background-color: #49ad50;
  border-radius: 0.2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
button:hover {
  background-color: #63b969 !important;
}
