* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0.4rem;
  background-color: #0b0c0c;
}

::-webkit-scrollbar-thumb {
  background-color: #49ad50;
  border-radius: 0.2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
button:hover {
  background-color: #63b969 !important;
}
